<div class="custom-container"> <!-- this class avoids, that you get white space on the left and right -->
  <div class="register-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="centered-form card">
      <h2 class="blue-heading">angular-osf Password Reset</h2>
      
      <div class="form-group">
        <label style="color:white">Password</label>
        <div class="password-input-container">
            <input
                type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="password"
                class="form-control password-input"
                [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
            />
            <i class="fa" [ngClass]="{ 'fa-eye': showPassword, 'fa-eye-slash': !showPassword }" (click)="togglePasswordVisibility('password')"></i>
            <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
                <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters</div>
                <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 40 characters</div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <label style="color:white">Confirm Password</label>
        <div class="password-input-container">
            <input
                type="{{ showConfirmPassword ? 'text' : 'password' }}"
                formControlName="confirmPassword"
                class="form-control password-input"
                [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }"
                #pw
            />
            <i class="fa" [ngClass]="{ 'fa-eye': showConfirmPassword, 'fa-eye-slash': !showConfirmPassword }" (click)="togglePasswordVisibility('confirmPassword')"></i>
            <div *ngIf="submitted && f['confirmPassword'].errors" class="invalid-feedback">
                <div *ngIf="f['confirmPassword'].errors['required']">Confirm Password is required</div>
                <div *ngIf="f['confirmPassword'].errors['matching']">Confirm Password does not match</div>
            </div>
        </div>
    </div>

      <div class="form-group">
        <div class="button-container">
          <button type="submit" class="btn btn-warning">Reset</button>
        </div>
      </div>
    </form>
  </div>
</div>
