.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(9, 95, 208), rgb(237, 191, 5));
    padding-bottom: 50px;
}

.full-width {
    width: 80%;
}

mat-form-field {
    width: 80%;
    margin-bottom: 10px;
}

mat-error {
    margin-top: -12px;
    color: red;
    font-size: 12px;
}

.contact-form {
    max-width: 700px;
    min-width: 100px;
    padding: 0 30px;
}

.centered-form {
    text-align: center;
    width: 500px;
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    margin-top: 20px;
}

.blue-heading {
    padding: 30px;
    color: rgb(237, 191, 5);
}

.btn.btn-success {
    margin-right: 30px;
}

.btn.btn-primary {
    margin-left: 30px;
    margin-right: 20px;
}

@media (max-width: 1024px) {
    .register-form {
        max-width: 100%;
    }
}