.sidenav-container {
    height: 100vh;
}

mat-sidenav {
    width: 220px;
    background-color: rgb(237, 191, 5);
}

.languageDropDown{
    width: 100px;
    color:  rgba(9, 95, 208)!important;
    background-color: rgba(9, 95, 208)!important;
}

.flag {
    width: 20px;
    height: 14px;
    margin-right: 8px;
    vertical-align: middle;
  }

.custom-toolbar {
    background-color: rgba(9, 95, 208);
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Center items vertically */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.contact-email {
    display: block;
    margin-top: 5px;
}

.spacer {
    flex: 1 1 auto;
    /* This will push elements to the sides */
}

.startBtn {
    display: flex;
    align-items: center;
    padding: 16px;
    text-decoration: none;
    /* Remove underline */
    color: white;
    font-size: 15px;
}

.startBtn mat-icon {
    margin-right: 8px;
}

.startBtn:hover {
    color: gold;
    border-radius: 5px;
}

.footer {
    background-color: rgba(29, 28, 29, 0.944);
    padding: 20px 0;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 10px;
}
