<mat-toolbar class="custom-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <a class="startBtn" routerLink="/welcome">{{ 'Welcome' | translate }}</a>
  <span class="spacer"></span>
  <a class="startBtn" routerLink="/intro">{{ 'Pictures' | translate }}</a>
  <span class="spacer"></span>
  <a class="startBtn" routerLink="/register">{{ 'Registration' | translate }}</a>
  <ng-container *ngIf="languages">
    <button mat-button [matMenuTriggerFor]="languageMenu" class="languageDropDown">
      <img *ngIf="selectedLanguage" [src]="currentFlag" class="flag" />
      {{ selectedLanguage }}
    </button>
    <mat-menu #languageMenu="matMenu" class="custom-language-menu">
      <button mat-menu-item *ngFor="let language of languages" (click)="switchLanguage(language.code)"
        [class.selected]="language.code === selectedLanguage">
        <img [src]="language.flag" class="flag" />{{ language.code }}
      </button>
      </mat-menu>
      </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <nav>
      <a class="startBtn" routerLink="/login" (click)="closeSidenav()">
        <mat-icon>login</mat-icon> {{ 'Start' | translate }}
      </a>
      <a class="startBtn" routerLink="/welcome" (click)="closeSidenav()">
        <mat-icon>home</mat-icon> {{ 'Welcome' | translate }}
      </a>
      <a class="startBtn" routerLink="/intro" (click)="closeSidenav()">
        <mat-icon>description</mat-icon> {{ 'Pictures' | translate }}
      </a>
      <a class="startBtn" routerLink="/register" (click)="closeSidenav()">
        <mat-icon>person_add</mat-icon> {{ 'Registration' | translate }}
      </a>
    </nav>
    </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <footer class="footer">
      <div class="container footer-content">
        <button mat-button routerLink="/impress" color="primary">
          <mat-icon>info</mat-icon> {{ 'Impress' | translate }}
        </button>
        <button mat-button routerLink="/contact" color="primary" (mouseenter)="showContactEmail = true"
          (mouseleave)="showContactEmail = false">
          <mat-icon>mail</mat-icon> {{ 'Contact' | translate }}
        </button>
        <button mat-button color="primary" routerLink="/agb">
          <mat-icon>assignment</mat-icon> {{ 'Terms' | translate }}
        </button>
        <p style="color:white">&copy; FrenzelTech {{ currentYear }}</p>
      </div>
    </footer>
    </mat-sidenav-content>
</mat-sidenav-container>